configuration {
    modi:                        "drun";
    show-icons:                  true;
    drun-display-format:         "{name}";
    font:                        "JetBrainsMono NF Bold 11";
}

//----- Global Properties -----//

@theme "theme"

//----- Main Window -----//

window {
    enabled:                     true;
    fullscreen:                  false;

    width:                       950px;
    height:                      760px;

    transparency:                "real";
    cursor:                      "default";

    spacing:                     0px;
    padding:                     0px;

    border:                      0px;
    border-radius:               0px;
    border-color:                transparent;

    background-color:            transparent;

    location:                    center;
    anchor:                      center;
}

//----- Main Box -----//

mainbox {
    enabled:                     true;
    children:                    [ "inputbar", "listview" ];

    spacing:                     0px;
    padding:                     0px;

    background-color:            @main-bg;
}

//----- Search Bar -----//

inputbar {
    enabled:                     true;

    spacing:                     10px;
    padding:                     16px 20px;

    children:                    [ "prompt", "entry" ];

    background-color:            @main-bg;
    text-color:                  @main-fg;
}

prompt {
    enabled:                     true;

    padding:                     0px 4px 0px 0px;

    background-color:            transparent;
    text-color:                  @main-fg;
}

entry {
    enabled:                     true;

    placeholder:                 "Pesquisar...";
    placeholder-color:           @main-fg;

    padding:                     0px;

    background-color:            transparent;
    text-color:                  @main-fg;
}

//----- Listview -----//

listview {
    enabled:                     true;

    columns:                     4;
    lines:                       2;

    spacing:                     16px;
    padding:                     18px;

    cycle:                       true;
    dynamic:                     false;
    scrollbar:                   false;

    layout:                      vertical;
    reverse:                     false;

    fixed-height:                true;
    fixed-columns:               true;

    cursor:                      "default";

    background-color:            transparent;
    text-color:                  @main-fg;
}

//----- Elements -----//

element {
    enabled:                     true;

    orientation:                 vertical;

    spacing:                     8px;
    padding:                     10px;

    border-radius:               16px;

    cursor:                      default;

    background-color:            transparent;
    text-color:                  @main-fg;
}

element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}

//----- Element Icon -----//

element-icon {
    size:                        125px;

    cursor:                      pointer;

    border-radius:               12px;

    background-color:            transparent;
    text-color:                  inherit;
}

//----- Element Text -----//

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;

    padding:                     6px;

    cursor:                      inherit;

    background-color:            transparent;
    text-color:                  inherit;
}
